*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }
  body.no-scroll {
    overflow: hidden; }

header, footer, section {
  padding-left: 7%;
  padding-right: 7%; }

::selection {
  background-color: #2d314d;
  color: #ffffff; }

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.8rem;
  color: #9698a6;
  font-weight: 300; }

h1, h2, h3, h4 {
  color: #2d314d;
  font-weight: 400; }

.heading-primary {
  font-size: 4.6rem; }
  @media all and (max-width: 600px) {
    .heading-primary {
      font-size: 4rem; } }

.heading-secondary {
  font-size: 3.6rem; }
  @media all and (max-width: 600px) {
    .heading-secondary {
      font-size: 3.5rem; } }

.paragraph {
  line-height: 1.5; }

.u-margin-bottom-medium {
  margin-bottom: 2.5rem !important; }

.btn {
  color: #ffffff;
  background: linear-gradient(to right, #31d35c, #2bb7da);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.2rem 4rem;
  border-radius: 100px;
  cursor: pointer; }
  .btn:hover {
    background: linear-gradient(to right, rgba(49, 211, 92, 0.6), rgba(43, 183, 218, 0.6)); }

.logo {
  width: 18rem; }
  @media all and (max-width: 1000px) {
    .logo {
      width: 45%;
      max-width: 18rem; } }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
  position: relative;
  z-index: 9999;
  background-color: #ffffff; }
  .header__nav-toggle {
    display: none; }
  .header__nav-item, .header__nav-item:link, .header__nav-item:visited {
    display: inline-block;
    padding: 2.75rem 0;
    position: relative;
    text-decoration: none;
    color: inherit; }
    .header__nav-item:not(:last-child), .header__nav-item:link:not(:last-child), .header__nav-item:visited:not(:last-child) {
      margin-right: 3rem; }
  .header__nav-item:hover {
    color: #2d314d; }
    .header__nav-item:hover::after {
      content: "";
      width: 100%;
      height: 4px;
      background-image: linear-gradient(to right, #31d35c, #2bb7da);
      position: absolute;
      bottom: 0;
      left: 0; }
  @media all and (max-width: 1000px) {
    .header {
      padding-top: 2rem;
      padding-bottom: 2rem; }
      .header__nav-toggle {
        display: inline-block; }
      .header__navigation {
        display: none; }
        .header__navigation.visible {
          display: block;
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          height: 100vh;
          background: linear-gradient(to bottom, rgba(45, 49, 77, 0.7), rgba(243, 244, 246, 0.7)); }
      .header__nav-list {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        width: 86%;
        margin: auto;
        text-align: center;
        padding: 3.5rem 0;
        margin-top: 2.25rem; }
      .header__nav-item {
        color: #2d314d !important;
        padding: 0 !important;
        margin: 0 !important; }
        .header__nav-item:not(:last-child) {
          margin-bottom: 2.25rem !important; }
        .header__nav-item:hover {
          color: #9698a6 !important; }
          .header__nav-item:hover::after {
            display: none; }
      .header .btn {
        display: none; } }
  @media all and (max-width: 600px) {
    .header {
      height: 6.25rem;
      padding-top: 0;
      padding-bottom: 0; } }

.footer {
  background-color: #2d314d;
  color: #ffffff;
  padding-top: 7rem;
  padding-bottom: 7rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center; }
  @media all and (max-width: 1000px) {
    .footer {
      flex-direction: column; } }
  .footer__left {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .footer__logo {
    margin-bottom: 7rem;
    width: 18rem !important; }
    @media all and (max-width: 1000px) {
      .footer__logo {
        margin-bottom: 4rem; } }
  .footer__social-row {
    display: flex; }
  .footer__social-icon {
    color: inherit; }
    .footer__social-icon svg {
      width: 2.5rem;
      height: 2.5rem;
      fill: currentColor; }
      .footer__social-icon svg:hover {
        fill: #31d35c; }
    .footer__social-icon:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__nav {
    flex-grow: 1;
    display: flex; }
    @media all and (max-width: 1000px) {
      .footer__nav {
        flex-grow: 0;
        flex-direction: column;
        margin: 5rem 0 6rem; } }
  .footer__nav-column {
    margin-left: 20%; }
    @media all and (max-width: 1000px) {
      .footer__nav-column {
        margin-left: 0;
        text-align: center; }
        .footer__nav-column:not(:last-child) {
          margin-bottom: 2rem; } }
  .footer__nav-link, .footer__nav-link:link, .footer__nav-link:visited {
    color: inherit;
    display: block;
    text-decoration: none; }
  .footer__nav-link:not(:last-child) {
    margin-bottom: 2rem; }
  .footer__nav-link:hover {
    color: #31d35c; }
  .footer__right {
    text-align: right; }
    @media all and (max-width: 1000px) {
      .footer__right {
        text-align: center; } }
  .footer .btn:hover {
    background: linear-gradient(to right, rgba(49, 211, 92, 0.6), rgba(43, 183, 218, 0.6)), #ffffff; }
  .footer__copyright {
    margin-top: 5rem;
    color: #9698a6; }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 4rem;
  align-items: stretch; }
  @media all and (max-width: 1200px) {
    .grid {
      grid-template-columns: 1fr 1fr; } }
  @media all and (max-width: 600px) {
    .grid {
      grid-template-columns: 1fr; } }

.container {
  position: relative;
  overflow: hidden; }
  .container__img, .container__bg, .container__bg-mobile {
    position: absolute;
    top: 0;
    right: 0; }
  .container__img {
    width: 50vw;
    max-width: 72rem;
    min-width: 52rem;
    transform: translate(15%, -5%);
    z-index: 2; }
  .container__bg {
    width: 75vw;
    max-width: 108rem;
    min-width: 78rem;
    transform: translate(27%, -15%); }
  .container__bg-mobile {
    display: none; }
  @media all and (max-width: 1000px) {
    .container__bg {
      display: none; }
    .container__img, .container__bg-mobile {
      width: 100%;
      min-width: initial;
      max-width: 40rem;
      right: 50%; }
    .container__img {
      transform: translate(50%, -15%); }
    .container__bg-mobile {
      display: block;
      transform: translateX(50%); } }

.intro {
  background-color: #fafafa;
  padding-top: 15rem;
  padding-bottom: 15rem; }
  .intro > * {
    position: relative;
    z-index: 10; }
  @media all and (max-width: 1000px) {
    .intro {
      padding-top: 5rem;
      padding-bottom: 10rem; } }
  .intro__content {
    width: 40%; }
    @media all and (max-width: 1000px) {
      .intro__content {
        width: 100%;
        max-width: 60rem;
        margin: 32rem auto 0;
        text-align: center; } }
  .intro__text {
    margin-bottom: 4rem; }

.features {
  background-color: #f3f4f6;
  padding-top: 9rem;
  padding-bottom: 9rem;
  position: relative;
  z-index: 1; }
  @media all and (max-width: 1200px) {
    .features {
      text-align: center; } }
  .features__opening-text {
    width: 55%;
    margin-bottom: 6rem; }
    @media all and (max-width: 1200px) {
      .features__opening-text {
        width: 100%; } }
  .features__icon {
    width: 7rem; }
  .features__title {
    font-size: 2.75rem;
    margin: 2.5rem 0; }

.articles {
  background-color: #fafafa;
  padding-top: 9rem;
  padding-bottom: 9rem; }
  .articles__heading {
    margin-bottom: 5rem; }
    @media all and (max-width: 1200px) {
      .articles__heading {
        text-align: center; } }
  .articles__img {
    width: 100%;
    height: 20rem;
    object-fit: cover; }
  .articles__column {
    background-color: #ffffff; }
  .articles__content {
    padding: 3rem; }
  .articles__author {
    font-size: 1.4rem; }
  .articles__title, .articles__title:link, .articles__title:visited {
    display: block;
    text-decoration: none;
    font-size: 2.4rem;
    line-height: 1.3;
    color: #2d314d;
    margin: 1.5rem 0; }
  .articles__title:hover {
    color: #31d35c; }
  .articles__text {
    font-size: 1.6rem; }
