$color-primary-dark: #2d314d;
$color-primary-green: #31d35c;
$color-primary-cyan: #2bb7da;

$color-grey-dark: #9698a6;
$color-grey-light-1: #f3f4f6;
$color-grey-light-2: #fafafa;
$color-white: #ffffff;