body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.8rem;
  color: $color-grey-dark;
  font-weight: 300;
}

h1, h2, h3, h4 {
  color: $color-primary-dark;
  font-weight: 400;
}

.heading-primary {
  font-size: 4.6rem;

  @include respond(phone) {
    font-size: 4rem;
  }
}

.heading-secondary {
  font-size: 3.6rem;

  @include respond(phone) {
    font-size: 3.5rem;
  }
}

.paragraph {
  line-height: 1.5;
}